$current: #ffb64f;
$pro: #7ce3e1;
$title: "Ferry";
$plain: "Inter";

header {
  height: 93px;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1440px;
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 60px;
    .nav {
      display: flex;
      width: 300px;
      justify-content: center;
      align-items: center;
      justify-self: center;
      div {
        padding: 0 20px;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        padding: 4px 20px;
      }
      div:nth-of-type(1) {
        border-right: 2px solid #7ce3e1;
        color: grey;
      }
      button {
        background-color: $pro;
        height: 26px;
        width: 65px;
        border: none;
        margin: 15px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
