.auth_container {
  max-width: 1440px;
  margin: 70px auto;
  .auth_container_content {
    display: flex;
    margin: 30px 70px;
    gap: 20px;
    .auth_left {
      h2 {
        margin: 0;
        text-transform: uppercase;
        padding-right: 50px;
      }
      img {
        margin: 20px 0 0 30px;
        padding: 30px 0 0 50px;
      }
      width: 57%;
      text-align: left;
      font-size: 23px;
    }
    .auth_right {
      display: flex;
      max-width: 400px;
      .auth_form {
        .auth_form_lock {
          max-width: 20%;
          position: absolute;
          top: -45px;
          left: -45px;
        }
        label {
          color: #949494;
          text-align: left;
          margin: 10px 0;
        }
        button {
          width: 379px;
          height: 59px;
          background-color: #596fffb6;
          border-radius: 5px;
          color: white;
          font-size: 22px;
          border: none;
          margin: 20px 0;
        }
        a {
          text-decoration: underline;
          color: #5970ff;
          margin-bottom: 20px;
        }
        input {
          width: 374px;
          height: 43px;
          border: 1px solid #c7c7c7;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          border-radius: 5px;
          margin-bottom: 10px;
        }
        display: flex;
        flex-direction: column;
        width: 429px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        padding: 30px;
        position: relative;
        .auth_form_enter {
          display: flex;
          justify-content: center;
          gap: 10px;
          margin-bottom: 20px;
          div:nth-of-type(1) {
            color: #029491;
            border-bottom: 2px solid #029491;
            padding: 0 40px 5px 40px;
          }
          div:nth-of-type(2) {
            color: #c7c7c7;
            border-bottom: 2px solid #c7c7c7;
            padding: 0 40px 5px 40px;
          }
        }
        .auth_form_social {
          display: flex;
          gap: 10px;
          margin: 10px 0;
        }
      }
    }
  }
}
